# Python Assignment - 1
Total 30 marks

# Variables and Data Types

In [ ]:
Exercise 1 a) Create four variables and assign values with different data types to them

In [ ]:
#int, float, String, boolean

int

In [1]:
int (5)

5

float

In [2]:
float (13.5)

13.5

srting

In [3]:
"Hrishikesh"

'Hrishikesh'

boolean

In [4]:
is_sunny = True
is_raining = False

In [5]:
if is_sunny:
    print("It's sunny outside. Enjoy the weather!")
else:
    print("It's not sunny today. Carry an umbrella, just in case.")

It's sunny outside. Enjoy the weather!

Exercise 1 b) Print the variables using Python's built-in function print(String)

In [6]:
variable = "Hello,World"

In [7]:
print(variable)

Hello,World

Exercise 1 c) Print the data type of each variable using Python's built-in function type()

In [8]:
a = 3 
type (a)

int

In [9]:
b = 2.12
type(b)

float

In [10]:
c = "Hrishikesh"
type(c)

str

In [12]:
d = True
type(d)

bool

Exercise 2 How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [13]:
# Example
first_value = 6
second_value = 8

result = first_value + second_value
print(result)

14

In [15]:
# Example
salary = 80000
months = 12

Annual_salary = salary * months
print(Annual_salary)

960000

In [16]:
present = 65
total_students = 70

upsent_students = present - total_students
print(upsent_students)

-5

In [17]:
annual_salary = 420000
months = 12

salary = annual_salary / months
print(salary)

35000.0

Example: Lists

In [18]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [19]:
fruits[0]

'orange'

In [20]:
fruits[1]

'apple'

In [21]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [22]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [23]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [24]:
fruits[:2]

['orange', 'apple']

Exercise 3 a) Create a list with names of your friends and print the name of the first, second and last person

In [25]:
name = ['aniket','ashwin','ashwini','kartik']

In [26]:
print(name)

['aniket', 'ashwin', 'ashwini', 'kartik']

In [27]:
print(name[0])
print(name[1])
print(name[3])

aniket
ashwin
kartik

Exercise 3 b) Print your list of names using different ranges

In [28]:
print(name[1:4])

['ashwin', 'ashwini', 'kartik']

Exercise 4 a) Count how many names you have added to the list using len([...])

In [29]:
print(len(name))

4

Exercise 4 b) Add a new name to your list using append(item)

In [30]:
name.append("krushna")
print(name)

['aniket', 'ashwin', 'ashwini', 'kartik', 'krushna']

Exercise 4 c) Print the list. Does it look as expected?

In [31]:
print(name)

['aniket', 'ashwin', 'ashwini', 'kartik', 'krushna']

Exercise 4 d) Add a new name on the third position in your list using insert(position, item)

In [32]:
name.insert(2, "dipika")
print(name)

['aniket', 'ashwin', 'dipika', 'ashwini', 'kartik', 'krushna']

Exercise 4 e) Print the list. Does it look as expected?

In [36]:
print(name)

['aniket', 'ashwin', 'dipika', 'ashwini', 'kartik', 'krushna']

Exercise 4 f) Remove a name from the list using remove(item)

In [38]:
name.remove("ashwini")
print(name)

['aniket', 'ashwin', 'dipika', 'kartik', 'krushna']

Exercise 4 g) Print the list. Does it look as expected?

In [39]:
print(name)

['aniket', 'ashwin', 'dipika', 'kartik', 'krushna']

# Example: For loops

In [11]:
fruits = ['orange', 'apple', 'pearl', 'banana', 'kiwi', 'mango', 'grapes']
for fruit in fruits:
    print(fruit)

orange
apple
pearl
banana
kiwi
mango
grapes

In [12]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pearls
bananas
kiwis
mangos
grapess

Exercise 5 a) Print each name in your list of names

In [13]:
colors = ["red", "green", "blue", "yellow"]

for color in colors:
    print(color)

red
green
blue
yellow

Exercise 5 b) Add a small change to each name in your list

In [14]:
for color in colors:
    color = color + 's'
    print(color)

reds
greens
blues
yellows

# Example: Dictionaries

In [16]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [17]:
capital = countries["sweden"]
print(capital)

stockholm

Exercise 6 a) Get the capital of Denmark and Norway using the dictionary countries

In [18]:
contries = {"Denmark" : "Copenhagen", "Norway" : "Oslo"}

In [19]:
capital = contries["Denmark"]
print(capital)

Copenhagen

In [21]:
capital = contries["Norway"]
print(capital)

Oslo

Exercise 6 b) Add a new key-value pair to the dictionary countries

In [22]:
countries = {"Denmark" : "Copenhagen", "Norway" : "Oslo"}

In [23]:
countries["Sweden"] = "Stockholm"
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Stockholm'}

Exercise 6 c) Print the dictionary. Does it look as expected?

In [24]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Stockholm'}

Exercise 6 d) Update Sweden's capital to Malmo

In [25]:
countries["Sweden"] = "Malmo"

In [26]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Malmo'}

Exercise 6 e) Print the dictionary. Does it look as expected?

In [27]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo', 'Sweden': 'Malmo'}

Exercise 6 f) Remove the key-value pair Sweden-Stockholm from the dictionary

In [28]:
del countries["Sweden"]
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo'}

Exercise 6 g) Print the dictionary. Does it look as expected?

In [29]:
print(countries)

{'Denmark': 'Copenhagen', 'Norway': 'Oslo'}

Exercise 6 g) Print each key-value pair in the dictionary countries

In [30]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: Denmark, Capital: Copenhagen
Country: Norway, Capital: Oslo

# Example: Functions

def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [1]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [2]:
add_two_numbers(1,2)

3

In [3]:
add_two_numbers(5,20)

25

Exercise 7 a) Create a function that can calculate the difference between two numbers

In [5]:
def absolute_difference(num1, num2):
    # Use the abs function to get the absolute value of the subtraction
    result = abs(num1 - num2)
    # Return the result
    return result

In [6]:
absolute_difference(10, 5)

5

Exercise 7 b) Use the function. Does it return the expected results?

In [7]:
absolute_difference(20, 5)

15

Exercise 7 c) Create a function that can multiply two numbers

In [8]:
def multiply_num(num1, num2):
    result = (num1 * num2)
    return result

In [9]:
multiply_num(10, 5)

50

Exercise 7 d) Use the function. Does it return the expected results?

In [10]:
multiply_num(5, 5)

25

Exercise 7 e) Create a function that can divide two numbers

In [11]:
def divide_num(num1, num2):
    result = (num1 / num2)
    return result

In [12]:
divide_num(100, 4)

25.0

Exercise 7 f) Use the function. Does it return the expected results?

In [13]:
divide_num(20, 2)

10.0